<!DOCTYPE html>
<html>
<head>
<title>Bagi Kasih</title>

<!-- Assets -->
<link rel="stylesheet" href="css/bootstrap.css" type="text/css">
<link rel="stylesheet" href="css/additional-style.css" type="text/css">
<link rel="stylesheet" href="resources/font-awesome/css/font-awesome.min.css" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet' type='text/css'>

<!-- end of Assets -->
</head>

<body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="./index.html">BagiKasih</a>
          <div class="nav-collapse collapse">
            <ul class="nav pull-right">
              <li class="">
                <a href="#">Sign in</a>
              </li>
              
            </ul>
          </div>
        </div>
      </div>
    </div>

    

	<div class="header-wrap">
    </div>
    <div class="fix-space-on-top">&nbsp;</div>
    <!-- Content section -->
    <div class="content-wrap">
        <div class="container content detail">
            <div class="row-fluid">
                <div class="span3 left-side">
                    <center>
                        <img src="http://pixelholdr.com/cute/210x180" class="img-polaroid">
                    </center>
                    <br>
                    <button class="btn btn-danger btn-block">Volunteer</button>
                    <br>
                    <iframe class="img-rounded" width="220" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=id&amp;geocode=&amp;q=Kota+Surabaya,+Indonesia&amp;aq=0&amp;oq=surab&amp;sll=37.0625,-95.677068&amp;sspn=40.052282,86.044922&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Surabaya,+Jawa+Timur,+Indonesia&amp;z=12&amp;ll=-7.289166,112.734398&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=id&amp;geocode=&amp;q=Kota+Surabaya,+Indonesia&amp;aq=0&amp;oq=surab&amp;sll=37.0625,-95.677068&amp;sspn=40.052282,86.044922&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Surabaya,+Jawa+Timur,+Indonesia&amp;z=12&amp;ll=-7.289166,112.734398" style="color:#0000FF;text-align:left">Lihat Peta Lebih Besar</a></small>
                    <br><br>
                    <div class="thumbnail detail-boxes-left donasi">
                        <h4 class="subtitle">Donasi</h4>
                        <table class="table table-hover">
                            <tr>
                                <td>
                                    <strong>Anonymous</strong>
                                    <span class="muted pull-right" ><i class="icon-calendar-empty"></i> 31 July 2013</span>
                                    <h4>Rp.300.000</h4>
                                    <div class="comment-donator" style="position:relative;">
                                        <div class="arrow arrow-right"></div>
                                        vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="muted pull-right" ><i class="icon-calendar-empty"></i> 28 July 2013</span>
                                    <strong>Anonymous</strong>
                                    <h4>Rp.300.000</h4>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="muted pull-right" ><i class="icon-calendar-empty"></i> 21 July 2013</span>
                                    <strong>Anonymous</strong>
                                    <h4>Rp.300.000</h4>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="muted pull-right" ><i class="icon-calendar-empty"></i> 16 July 2013</span>
                                    <strong>Anonymous</strong>
                                    <h4>Rp.300.000</h4>
                                </td>
                            </tr>
                        </table>
                        <center>
                            <div class="pagination pagination-small">
                                <ul>
                                    <li><a href="#">&larr;</a></li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">&rarr;</a></li>
                                </ul>
                            </div>
                        </center>
                    </div>
                    <br>
                    <div class="thumbnail detail-boxes-left">
                        <h4 class="subtitle">Bulan ini</h4>
                        <p>Volunteer :<span class="pull-right">30</span><br></p>
                        <p>Member :<span class="pull-right">20</span><br></p>
                        <p>Fundraiser :<span class="pull-right">3</span><br></p>
                        <p>Terkumpul :<span class="pull-right">Rp.2.000.000</span><br></p>
                    </div>
                    <br>
                </div>
                <!-- Right side of detail page -->
                <div class="span9 right-side">
                    <div class="row-fluid">
                        <div class="span9 profile-title">
                            <h3>This is for long long title should be...</h3>
                            <span><i class="icon-map-marker"></i>&nbsp;Jl. Panggung No. 1, Surabaya</span><br><br>
                            <div class="fb-like" data-href="https://www.facebook.com/waku2w" data-send="true" data-width="500" data-show-faces="false"></div>
                        </div>
                        <div class="span3 text-center">
                            <button class="btn btn-danger btn-block"><h4>Beri Donasi</h4></button>
                            <button class="btn btn-danger btn-block"><h4>Galang Dana</h4></button>
                        </div>
                    </div>
                    <hr>
                    <div class="thumbnail detail-boxes">
                        <div class="row-fluid">
                            <div class="span2"><a href="#"><img src="holder.js/100x84/#444:#ddd" class="img-rounded"></a></div>
                            <div class="span2"><a href="#"><img src="holder.js/100x84/#444:#ddd" class="img-rounded"></a></div>
                            <div class="span2"><a href="#"><img src="holder.js/100x84/#444:#ddd" class="img-rounded"></a></div>
                            <div class="span2"><a href="#"><img src="holder.js/100x84/#444:#ddd" class="img-rounded"></a></div>
                            <div class="span2"><a href="#"><img src="holder.js/100x84/#444:#ddd" class="img-rounded"></a></div>
                            <div class="span2"><a href="#"><img src="holder.js/100x84/#444:#ddd" class="img-rounded"></a></div>
                        </div>
                    </div>
                    <br>
                    <div class="thumbnail detail-boxes recent-update">
                        <h4 class="subtitle">Recent Updates</h4>
                        <table class="table table-hover">
                            <tr>
                                <td>
                                    <div class="row-fluid">
                                        <div class="span8"><h4 class="media-heading">Nama user</h4></div>
                                        <div class="span4"><span class="pull-right muted"><i class="icon-calendar-empty"></i> 21/5/2013</span></div>
                                    </div>
                                    <p>
                                        Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone.
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="row-fluid">
                                        <div class="span8"><h4 class="media-heading">Nama user</h4></div>
                                        <div class="span4"><span class="pull-right muted"><i class="icon-calendar-empty"></i> 21/5/2013</span></div>
                                    </div>
                                    <p>
                                        Short content of updates. bla bla bla, bla
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="row-fluid">
                                        <div class="span8"><h4 class="media-heading">Nama user</h4></div>
                                        <div class="span4"><span class="pull-right muted"><i class="icon-calendar-empty"></i> 21/5/2013</span></div>
                                    </div>
                                    <p>
                                        Short content of updates. bla bla bla, bla
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="row-fluid">
                                        <div class="span8"><h4 class="media-heading">Nama user</h4></div>
                                        <div class="span4"><span class="pull-right muted"><i class="icon-calendar-empty"></i> 21/5/2013</span></div>
                                    </div>
                                    <p>
                                        Short content of updates. bla bla bla, bla
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </div><br>
                    <div class="thumbnail detail-boxes">
                        <h4 class="subtitle">Info</h4>
                        <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                    </div><br>
                    <div id="hidden-hover-info-content">
                        <div class="row-fluid">
                            <div class="span8">
                                <p>
                                    Description: Much of the tension in product development and interface design comes from trying to balance the obvious, the easy, and the possible.
                                </p>
                            </div>
                            <div class="span4">
                                <img src="img/sample_1.jpg" class="img-rounded">
                            </div>
                        </div>
                    </div>
                    <div class="thumbnail detail-boxes member">
                        <h4 class="subtitle">Member:</h4>
                        <div class="media">
                            <a href="#" class="pull-left">
                                <img src="http://pixelholdr.com/farm/74X74" class="media-object img-rounded img-polaroid">
                                <h6>Tuan Anonim<br>(23 Th)</h6>
                            </a>
                            <a href="#" class="pull-left">
                                <img src="http://pixelholdr.com/farm/74X74" class="media-object img-rounded img-polaroid">
                                <h6>Tuan Anonim<br>(23 Th)</h6>
                            </a>
                            <a href="#" class="pull-left">
                                <img src="http://pixelholdr.com/farm/74X74" class="media-object img-rounded img-polaroid">
                                <h6>Tuan Anonim<br>(23 Th)</h6>
                            </a>
                            <a href="#" class="pull-left">
                                <img src="http://pixelholdr.com/farm/74X74" class="media-object img-rounded img-polaroid">
                                <h6>Tuan Anonim<br>(23 Th)</h6>
                            </a>
                            <a href="#" class="pull-left">
                                <img src="http://pixelholdr.com/farm/74X74" class="media-object img-rounded img-polaroid">
                                <h6>Tuan Anonim<br>(23 Th)</h6>
                            </a>
                            <a href="#" class="pull-left">
                                <img src="http://pixelholdr.com/farm/74X74" class="media-object img-rounded img-polaroid">
                                <h6>Tuan Anonim<br>(23 Th)</h6>
                            </a>
                            <a href="#" class="pull-left">
                                <img src="http://pixelholdr.com/farm/74X74" class="media-object img-rounded img-polaroid">
                                <h6>Tuan Anonim<br>(23 Th)</h6>
                            </a>
                            <a href="#" class="pull-left">
                                <img src="http://pixelholdr.com/farm/74X74" class="media-object img-rounded img-polaroid">
                                <h6>Tuan Anonim<br>(23 Th)</h6>
                            </a>
                        </div>
                    </div><br>
                    <div class="thumbnail detail-boxes fundraiser">
                        <h4 class="subtitle">Fundraiser</h4>
                        <table class="table table-hover">
                            <tr>
                                <td>
                                    <div class="row-fluid">
                                        <div class="span8">
                                            <h4>Judul Fundraiser</h4>
                                            <span class="muted">di buat oleh <a href="#">Nama Pembuat Fundraiser</a></span>
                                            <div style="margin-top:5px;">
                                                <h4>30% <small class="muted">dari target</small> Rp.200.000.000</h4>
                                            </div>
                                        </div>
                                        <div class="span4">
                                            <h4 class="text-right"><small>Terkumpul</small> Rp.50.000.000</h4>
                                            <div class="muted text-right"><strong>96</strong> Hari lagi</div>
                                            <button class="btn btn-danger span6 pull-right">Dukung</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="row-fluid">
                                        <div class="span8">
                                            <h4>Judul Fundraiser</h4>
                                            <span class="muted">di buat oleh <a href="#">Nama Pembuat Fundraiser</a></span>
                                            <div style="margin-top:5px;">
                                                <h4>30% <small class="muted">dari target</small> Rp.200.000.000</h4>
                                            </div>
                                        </div>
                                        <div class="span4">
                                            <h4 class="text-right"><small>Terkumpul</small> Rp.50.000.000</h4>
                                            <div class="muted text-right"><strong>96</strong> Hari lagi</div>
                                            <button class="btn btn-danger span6 pull-right">Dukung</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="row-fluid">
                                        <div class="span8">
                                            <h4>Judul Fundraiser</h4>
                                            <span class="muted">di buat oleh <a href="#">Nama Pembuat Fundraiser</a></span>
                                            <div style="margin-top:5px;">
                                                <h4>30% <small class="muted">dari target</small> Rp.200.000.000</h4>
                                            </div>
                                        </div>
                                        <div class="span4">
                                            <h4 class="text-right"><small>Terkumpul</small> Rp.50.000.000</h4>
                                            <div class="muted text-right"><strong>96</strong> Hari lagi</div>
                                            <button class="btn btn-danger span6 pull-right">Dukung</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div><br>
                    <div class="thumbnail detail-boxes volunteer">
                        <h4 class="subtitle">Volunteer</h4>
                        <table class="table table-hover">
                            <tr>
                                <td>
                                    <span class="muted pull-right"><i class="icon-calendar"></i> 31 Juni 2013</span>
                                    <h5>Volunteer 1<a class="tooltip1" href="#" data-toggle="tooltip" data-placement="right" title="" data-original-title="Jumlah orang yang di bawa"> (+20)</a></h5>
                                    <blockquote>
                                        vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore
                                    </blockquote>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="muted pull-right"><i class="icon-calendar"></i> 31 Juni 2013</span>
                                    <h5>Volunteer 1<a class="tooltip1" href="#" data-toggle="tooltip" data-placement="right" title="" data-original-title="Jumlah orang yang di bawa"> (+20)</a></h5>
                                    <blockquote>
                                        vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore
                                    </blockquote>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- <div class="thumbnail detail-boxes">
                        <h4>Donasi</h4>
                        <hr>
                        <form class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label" for="inputNominal">Nominal</label>
                                <div class="controls">
                                    <input type="text" id="inputNominal" placeholder="Nominal">&nbsp;
                                    <div class="btn-group" data-toggle="buttons-radio">
                                        <button type="button" class="btn btn-small active">IDR</button>
                                        <button type="button" class="btn btn-small">US$</button>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputNama">Nama</label>
                                <div class="controls">
                                    <input type="text" id="inputNama" placeholder="Nama">
                                    <label class="checkbox">
                                        <input type="checkbox"> Jangan Tunjukkan nama saya (Anonymous)
                                    </label>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputEmail">Email</label>
                                <div class="controls">
                                    <input type="text" id="inputEmail" placeholder="Email">
                                </div>
                            </div>
                            <hr>
                            <div class="control-group">
                                <div class="controls">
                                    <button type="submit" class="pull-right btn btn-success">Sumbang</button>
                                </div>
                            </div>
                        </form>
                    </div> -->
                    <div class="fb-comments" data-href="http://example.com" data-width="650" data-num-posts="10"></div>
                    <br>
                </div>
                <!-- end Right side of detail page -->
            </div>
        </div>
    </div>
    <!-- end Content section -->
    <footer class="bottom-section">
        <div class="container">
        <center>    
            <ul class="inline">
                <li>
                    <a href="#">Menu#1</a>
                </li>
                <li>
                    <a href="#">Menu#2</a>
                </li>
            </ul>
            with love by <a href="mataharilabs.com">mataharilabs.com</a>
        </center>
    </footer>

	<!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap-transition.js"></script>
    <script src="js/bootstrap-alert.js"></script>
    <script src="js/bootstrap-modal.js"></script>
    <script src="js/bootstrap-dropdown.js"></script>
    <script src="js/bootstrap-scrollspy.js"></script>
    <script src="js/bootstrap-tab.js"></script>
    <script src="js/bootstrap-tooltip.js"></script>
    <script src="js/bootstrap-popover.js"></script>
    <script src="js/bootstrap-button.js"></script>
    <script src="js/bootstrap-collapse.js"></script>
    <script src="js/bootstrap-carousel.js"></script>
    <script src="js/bootstrap-typeahead.js"></script>
    <script src="js/bootstrap-affix.js"></script>

    <script src="resources/silviomoreto-bootstrap-select/bootstrap-select.min.js"></script>
    <script src="resources/imsky-holder/holder.min.js"></script>

    <script src="js/jquery.hovercard.js"></script>
    
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=219796328101516";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    
    $('#hover-info').hovercard({detailsHTML:$('#hidden-hover-info-content').html()});

    $('#popover-hover').popover({ html: true});

    $('.tooltip1').tooltip()

    </script> 

</body>

</html>