<!DOCTYPE html>
<html>
<head>
<title>Bagi Kasih</title>

<!-- Assets -->
<link rel="stylesheet" href="css/bootstrap.css" type="text/css">
<link rel="stylesheet" href="css/additional-style.css" type="text/css">
<link rel="stylesheet" href="resources/font-awesome/css/font-awesome.min.css" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet' type='text/css'>
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "95f1b877-26e4-4751-ba58-cc02d747a1cf", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

<!-- end of Assets -->
</head>

<body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="./index.html">CharityBox</a>
          <div class="nav-collapse collapse">
            <ul class="nav pull-right">
              <li class="">
                <a href="#">Sign in</a>
              </li>
              
            </ul>
          </div>
        </div>
      </div>
    </div>

    

	<div class="header-wrap">
    </div>
    <div class="fix-space-on-top">&nbsp;</div>
    <!-- Content section -->
    <div class="content-wrap">
        <div class="container content detail">
            <h3 class="text-center"> Konfirmasi dukungan anda kepada <em>CharityBox</em></h3>
            <div class="row-fluid">
                    <div class="span7 left-side">
                        <div class="thumbnail detail-boxes">
                            <h4 class="subtitle">Donasi</h4>
                            <h5>Tentukan besar donasi anda kepada <em>Yayasan Anak Jalanan</em> </h5>
                            <ul id="myTab" class="nav nav-tabs">
                                <li class="active"><a href="#idr" data-toggle="tab">Rupiah (IDR)</a></li>
                                <li class=""><a href="#usd" data-toggle="tab">Dollar (USD)</a></li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade active in" id="idr">
                                    <div class="offset1">
                                        <label class="radio">
                                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                            10.000
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                            20.000
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
                                            50.000
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4">
                                            75.000
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="optionsRadios" id="optionsRadios5" value="option5">
                                            100.000
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="optionsRadios" id="optionsRadios6" value="option6">
                                            200.000
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="optionsRadios" id="optionsRadios7" value="option7">
                                            500.000
                                        </label>
                                        <label class="radio pull-left">
                                            <input type="radio" name="optionsRadios" id="optionsRadios8" value="option8">
                                            Lainnya:
                                        </label><input type="text">
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="usd">
                                    <div class="offset1">
                                        <label class="radio">
                                            <input type="radio" name="optionsRadios" id="optionsRadios9" value="option9" checked>
                                            10.000
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="optionsRadios" id="optionsRadios10" value="option10">
                                            20.000
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="optionsRadios" id="optionsRadios11" value="option11">
                                            50.000
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="optionsRadios" id="optionsRadios12" value="option12">
                                            75.000
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="optionsRadios" id="optionsRadios13" value="option13">
                                            100.000
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="optionsRadios" id="optionsRadios14" value="option14">
                                            200.000
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="optionsRadios" id="optionsRadios15" value="option15">
                                            500.000
                                        </label>
                                        <label class="radio pull-left">
                                            <input type="radio" name="optionsRadios" id="optionsRadios16" value="option16">
                                            Lainnya:
                                        </label><input type="text">
                                    </div>
                                </div>
                                
                            </div>
                            
                            <hr>
                            <h4>Tentang Anda</h4>
                            <form style="margin-bottom:4px;">
                                <div class="form-inline">
                                    Nama&nbsp;&nbsp;
                                    <input type="text" class="span5" placeholder="">&nbsp;&nbsp;&nbsp;
                                    Email&nbsp;&nbsp;
                                    <input type="password" class="span5" placeholder="">
                                </div>
                                <span>Anda dapat mengganti nama anda di dalam halaman <em>Yayasan Anak Jalanan</em> setelah donasi anda sudah di terima.</span>
                                <br><br>
                                <label class="checkbox">
                                    <input type="checkbox">Saya ingin donasi saya tidak menyantumkan nama
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox">Saya ingin mendapatkan update untuk kedepannya dari amal ini
                                </label>
                                <div class="form-actions" style="margin:10px -5px -8px; padding-top:10px;">
                                    <button class="btn btn-danger" type="submit">Donasikan</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Right side of detail page -->
                    <div class="span5 right-side">
                        <div class="thumbnail detail-boxes">
                            <h4>Pilih cara pembayaran donasi:</h4>
                            <hr>
                            <label class="radio">
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                <img src="img/paypal-secure.png">
                            </label><br>
                            <label class="radio">
                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                <img src="img/transfer_bank.jpg">
                            </label>
                            

                        </div>
                    </div>
                    <!-- end Right side of detail page -->
            </div>
        </div>
    </div>
    <!-- end Content section -->
    <footer class="bottom-section">
        <div class="container">
        <center>    
            <ul class="inline">
                <li>
                    <a href="#">Menu#1</a>
                </li>
                <li>
                    <a href="#">Menu#2</a>
                </li>
            </ul>
            with love by <a href="mataharilabs.com">mataharilabs.com</a>
        </center>
    </footer>

	<!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap-transition.js"></script>
    <script src="js/bootstrap-alert.js"></script>
    <script src="js/bootstrap-modal.js"></script>
    <script src="js/bootstrap-dropdown.js"></script>
    <script src="js/bootstrap-scrollspy.js"></script>
    <script src="js/bootstrap-tab.js"></script>
    <script src="js/bootstrap-tooltip.js"></script>
    <script src="js/bootstrap-popover.js"></script>
    <script src="js/bootstrap-button.js"></script>
    <script src="js/bootstrap-collapse.js"></script>
    <script src="js/bootstrap-carousel.js"></script>
    <script src="js/bootstrap-typeahead.js"></script>
    <script src="js/bootstrap-affix.js"></script>

    <script src="resources/silviomoreto-bootstrap-select/bootstrap-select.min.js"></script>
    <script src="resources/imsky-holder/holder.min.js"></script>

    <script src="js/jquery.hovercard.js"></script>
    
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=219796328101516";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    
    $('#hover-info').hovercard({detailsHTML:$('#hidden-hover-info-content').html()});

    $('#popover-hover').popover({ html: true});

    $('.tooltip1').tooltip()

    </script> 

</body>

</html>