<!DOCTYPE html>
<html>
<head>
<title>CharityBox - Untuk Membantu yang Membutuhkan</title>

<!-- Assets -->
<link rel="stylesheet" href="css/bootstrap.css" type="text/css">
<link rel="stylesheet" href="resources/font-awesome/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="resources/silviomoreto-bootstrap-select/bootstrap-select.css" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet' type='text/css'>
<!-- end of Assets -->
</head>

<body>
	<div class="header-wrap">
		<div class="top-nav">
            <div class="container">
    			<div class="row-fluid">
    				<div class="span8">
    					<img src="img/charityboxlogo.png" href="tsunami.html" width="25" height="25">&nbsp;<strong>CharityBox</strong>
    				</div>
    				<div class="span4">
    					<button class="btn pull-right" onclick="document.location='../view/login.php'">Masuk</button>
    				</div>
    			</div>
            </div>
        </div>
        <div class="container header">
            <center>
                <h3>Selamat Datang di <img src="img/charityboxlogo.png" width="40" height="40">CharityBox.com</h3>
                <p>
                    Web ini dibuat untuk mempermudah donasi kepada yang membutuhkan.
                </p>                
            </center>         
            <div class="big-search">
                <div class="row-fluid">
                    <div class="span12 wrap">
                        Anugerah terbesar adalah ketika ada kemampuan dan kesempatan tuk berbagi kepada sesama
                    </div>
                </div>
            </div>
		</div>
	</div>
    <!-- Content section -->
    <div class="content-wrap">  
        <div class="container content">
            <br>
            <br>
            <div class="row-fluid">
                <!-- the Item -->
                <div class="span3 thumbnail splash-item">
                    <a href="tsunami.html">
                        <img src="img/tsunademi.jpg" style="width:500px;height:150px;">
                        <h4>Bantuan untuk Caledu</h4>
                    </a>
                    
                    <p>
                        Kemalangan berupa bencana alam tsunami menimpa warga Caledu. Bantuan Anda akan sangat membantu warga Caledu dalam menjalani masa sulit mereka.
                    </p>
                    <span>&nbsp;<i class="icon-map-marker icon-large"></i>&nbsp;&nbsp;Surabaya, Jawa Timur</span>
                    <div class="stats">
                        <div class="row-fluid">
                            <div class="progress progress-striped progress-success active">
                              <div class="bar" style="width: 40%;"></div>
                            </div>
                            <div class="row-fluid">
                                <div class="span9">
                                    <strong>Rp.6.000.000</strong>&nbsp;<em class="muted">terkumpul</em><br>
                                    <small class="muted">dari total Rp.40.000.000</small>
                                </div>
                                <div class="span3 text-center">
                                    <i class="icon-group icon-large"></i><br>20
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span3 thumbnail splash-item">
                    <a href="desa.html">
                        <img src="img/kemiskinan.jpg" style="width:500px;height:150px;">
                        <h4>Desa Vitra</h4>
                    </a>
                    
                    <p>
                        Desa yang hidup dalam kemiskinan selama 10 tahun. Bantu desa ini dengan donasi Anda agar pengembangan desa dapat segera dilancarkan.
                    </p>
                    <span>&nbsp;<i class="icon-map-marker icon-large"></i>&nbsp;&nbsp;Yogyakarta, Jawa Tengah</span>
                    <div class="stats">
                        <div class="row-fluid">
                            <div class="progress progress-striped progress-success active">
                              <div class="bar" style="width: 20%;"></div>
                            </div>
                            <div class="row-fluid">
                                <div class="span9">
                                    <strong>Rp.20.000.000</strong>&nbsp;<em class="muted">terkumpul</em><br>
                                    <small class="muted">dari total Rp.100.000.000</small>
                                </div>
                                <div class="span3 text-center">
                                    <i class="icon-group icon-large"></i><br>20
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span3 thumbnail splash-item">
                    <a href="palestina.html">
                        <img src="img/palestina.jpg" style="width:500px;height:150px;">
                        <h4>Merdekakan Palestina</h4>
                    </a>
                    
                    <p>
                        Tanah Palestina sedang dijajah, banyaknya nyawa yang melayang, dan kurangnya kebebasan. Jadilah donatur demi negara Palestina dan negara Islam lain. 
                    </p>
                    <span>&nbsp;<i class="icon-map-marker icon-large"></i>&nbsp;&nbsp;Jalur Gaza, Palestina</span>
                    <div class="stats">
                        <div class="row-fluid">
                            <div class="progress progress-striped progress-success active">
                              <div class="bar" style="width: 50%;"></div>
                            </div>
                            <div class="row-fluid">
                                <div class="span9">
                                    <strong>Rp.50.000.000</strong>&nbsp;<em class="muted">terkumpul</em><br>
                                    <small class="muted">dari total Rp.100.000.000</small>
                                </div>
                                <div class="span3 text-center">
                                    <i class="icon-group icon-large"></i><br>20
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span3 thumbnail splash-item">
                    <a href="operasi.html">
                        <img src="img/operasi.jpg" style="width:500px;height:150px;">
                        <h4>Operasi Mata untuk Anak</h4>
                    </a>
                    
                    <p>
                        Tolong! Anak saya mengalami permasalahan dengan matanya yang perlu dioperasi, dan saya tidak mampu membayar biaya operasinya.
                    </p>
                    <span>&nbsp;<i class="icon-map-marker icon-large"></i>&nbsp;&nbsp;Bandung, Jawa Barat</span>
                    <div class="stats">
                        <div class="row-fluid">
                            <div class="progress progress-striped progress-success active">
                              <div class="bar" style="width: 10%;"></div>
                            </div>
                            <div class="row-fluid">
                                <div class="span9">
                                    <strong>Rp.1.000.000</strong>&nbsp;<em class="muted">terkumpul</em><br>
                                    <small class="muted">dari total Rp.10.000.000</small>
                                </div>
                                <div class="span3 text-center">
                                    <i class="icon-group icon-large"></i><br>20
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end the Item -->
            </div>
            <br>
            <br>
            <div class="row-fluid">
                <!-- the Item -->
                <div class="span3 thumbnail splash-item">
                    <a href="gizi.html">
                        <img src="img/gizi.jpg" style="width:500px;height:150px;">
                        <h4>Penderita Gizi Buruk</h4>
                    </a>
                    
                    <p>
                        Beberapa anak beruntung bisa mendapatkan asupan makan yang cukup untuk sehat. Beberapa lainnya tidak bisa makan setiap hari. Seperti beberapa anak-anak di Banyuwangi.
                    </p>
                    <span>&nbsp;<i class="icon-map-marker icon-large"></i>&nbsp;&nbsp;Banyuwangi, Jawa Timur</span>
                    <div class="stats">
                        <div class="row-fluid">
                            <div class="progress progress-striped progress-success active">
                              <div class="bar" style="width: 20%;"></div>
                            </div>
                            <div class="row-fluid">
                                <div class="span9">
                                    <strong>Rp.1.000.000</strong>&nbsp;<em class="muted">terkumpul</em><br>
                                    <small class="muted">dari total Rp.5.000.000</small>
                                </div>
                                <div class="span3 text-center">
                                    <i class="icon-group icon-large"></i><br>20
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- end the Item -->
            </div>
        </div>
    </div>
    <!-- end Content section -->
    <footer class="bottom-section">
        <div class="container">
        <center>    
            <ul class="inline">
                <li>
                    <a href="#">Menu#1</a>
                </li>
                <li>
                    <a href="#">Menu#2</a>
                </li>
            </ul>
            @2021, Hak Cipta Dilindungi
        </center>
    </footer>

	<!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap-transition.js"></script>
    <script src="js/bootstrap-alert.js"></script>
    <script src="js/bootstrap-modal.js"></script>
    <script src="js/bootstrap-dropdown.js"></script>
    <script src="js/bootstrap-scrollspy.js"></script>
    <script src="js/bootstrap-tab.js"></script>
    <script src="js/bootstrap-tooltip.js"></script>
    <script src="js/bootstrap-popover.js"></script>
    <script src="js/bootstrap-button.js"></script>
    <script src="js/bootstrap-collapse.js"></script>
    <script src="js/bootstrap-carousel.js"></script>
    <script src="js/bootstrap-typeahead.js"></script>
    <script src="js/bootstrap-affix.js"></script>

    <script src="resources/silviomoreto-bootstrap-select/bootstrap-select.min.js"></script>

    <script>
        $('.selectpicker').selectpicker();
    </script>
</body>

</html>