<!DOCTYPE html>
<html>
<head>
<title>Bagi Kasih</title>

<!-- Assets -->
<link href="less/bootstrap.less" rel="stylesheet/less" type="text/css">
<script src="js/less-1.6.0.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="resources/font-awesome/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="resources/silviomoreto-bootstrap-select/bootstrap-select.css" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet' type='text/css'>
<!-- end of Assets -->
</head>

<body>
    <div class="showcase">
        <div class="navbar navbar-static-top" style="margin: -1px -1px 15px;">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">BagiKasih</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav pull-right">
                            <li class="dropdown">
                                <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Bahasa <i class="caret"></i></a>
                                <ul class="dropdown-menu pull-right" style="min-width:120px;">
                                    <li>
                                        <a href="http://bagikasih.com/home/set_lang/id"><div class="span1" style="margin-left:-5px;">Indonesia </div>&nbsp;&nbsp;&nbsp;<img src="http://bagikasih.com/assets/img/flag_indonesia.png"></a>
                                    </li>
                                    <li>
                                        <a href="http://bagikasih.com/home/set_lang/en"><div class="span1" style="margin-left:-5px;">English </div>&nbsp;&nbsp;&nbsp;<img src="http://bagikasih.com/assets/img/flag_uk.png"></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav pull-right">
                                                    <li><a href="#modal" data-toggle="modal">Masuk</a></li>
                                            </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="top-logo text-center">
            <a href="#">
                <img src="img/bgcired.png" class="img-circle">
            </a>
        </div>
        <div class="slider container">
            <div class="row">
                <div class="span8">
                    <img src="img/slider_1.png">
                </div>
                <div class="span4">
                    <h4>Galang Dana Untuk Mereka</h4>
                    <p>
                        Anda juga dapat membuat proyek Penggalangan Dana (Fundraising) untuk target lembaga Sosial anda. Di proyek ini, anda dapat mengundang teman2 anda untuk mendukung proyek sosial anda dan hasil dari penggalangan dana ini akan ditransfer kembali langsung ke target Lembaga Sosial anda.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="action-text">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <h3><em>So, What do You Want?</em></h3>
                </div>
                <div class="span8">
                    <ul class="unstyled inline pull-right">
                        <li><a href="#">Fundraising</a></li>
                        <li><a href="#">Donate</a></li>
                        <li><a href="#">Register</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Content section -->
    <div class="feature-description">
        <div class="container">
            <div class="row">
                <div class="span7">
                    <h4>Feature 1</h4>
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint... 
                    </p>
                </div>
                <div class="span5">
                    <a href="#">  
                        <img src="pixlholder.js/110x80/" class="img-polaroid img-rounded">
                    </a>
                    <a href="#">  
                        <img src="pixlholder.js/110x80/" class="img-polaroid img-rounded">
                    </a>
                    <a href="#">  
                        <img src="pixlholder.js/110x80/" class="img-polaroid img-rounded">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="span5">
                    <a href="#">  
                        <img src="pixlholder.js/110x80/" class="img-polaroid img-rounded">
                    </a>
                    <a href="#">  
                        <img src="pixlholder.js/110x80/" class="img-polaroid img-rounded">
                    </a>
                    <a href="#">  
                        <img src="pixlholder.js/110x80/" class="img-polaroid img-rounded">
                    </a>
                </div>
                <div class="span7">
                    <h4>Feature 2</h4>
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint... 
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="span7">
                    <h4>Feature 1</h4>
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint... 
                    </p>
                </div>
                <div class="span5">
                    <a href="#">  
                        <img src="pixlholder.js/110x80/" class="img-polaroid img-rounded">
                    </a>
                    <a href="#">  
                        <img src="pixlholder.js/110x80/" class="img-polaroid img-rounded">
                    </a>
                    <a href="#">  
                        <img src="pixlholder.js/110x80/" class="img-polaroid img-rounded">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="span4">
                    <div class="thumbnail detail-boxes event-feed">
                        <h4 class="subtitle">Find an event to be part of</h4>
                        <ul class="unstyled">
                            <li>
                                <p>
                                    An epic ~170KM ride from the Sanur coastline up around the volcanic craters of Mounts...
                                </p>
                                <div class="event-period"><em>21/5/2013 - 29/5/2013</em><a href="#" class="btn btn-mini btn-primary pull-right">view</a></div>
                            </li>
                            <li>
                                <p>
                                    Taman Perumahanku Ceria Dan Surau Ku Bersih PENDAHULUAN Gotong royong adalah satu kegia...
                                </p>
                                <div class="event-period"><em>21/4/2013 - 29/4/2013</em><a href="#" class="btn btn-mini btn-primary pull-right">view</a></div>
                            </li>
                            <li>
                                <p>
                                    The Metta Charity Walk cum Family Carnival 2014 has put together a carefully handpicke...
                                </p>
                                <div class="event-period"><em>20/4/2013 - 22/4/2013</em><a href="#" class="btn btn-mini btn-primary pull-right">view</a></div>
                            </li>
                        </ul>
                        <button class="btn btn-block btn-small">Veiw All</button>
                    </div>
                </div>
                <div class="span4">
                    <div class="thumbnail detail-boxes event-feed">
                        <h4 class="subtitle">Our Blog</h4>
                        <div class="media">
                            <a class="pull-left" href="#">
                            <img src="pixlholder.js/40x40">
                            </a>
                            <div class="media-body">
                                <h5 class="media-heading"><a href="#">CARIF's Be Frank Campaign in The Star</a></h5>
                            </div>
                        </div>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img src="pixlholder.js/40x40">
                            </a>
                            <div class="media-body">
                                <h5 class="media-heading"><a href="#">Freedom Fighters in Campuslife.com.my</a></h5>
                            </div>
                        </div>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img src="pixlholder.js/40x40">
                            </a>
                            <div class="media-body">
                                <h5 class="media-heading"><a href="#">BagiKasih.com a 'hot find' in The Finder Singapore</a></h5>
                            </div>
                        </div>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img src="pixlholder.js/40x40">
                            </a>
                            <div class="media-body">
                                <h5 class="media-heading"><a href="#">Update on donations to overseas charities for ..</a></h5>
                            </div>
                        </div>
                        <button class="btn btn-block btn-small">Veiw All</button>
                    </div>
                </div>
                <div class="span4">
                    <div class="thumbnail">
                        <div id="fb-root"></div>
                        <script>(function(d, s, id) {
                          var js, fjs = d.getElementsByTagName(s)[0];
                          if (d.getElementById(id)) return;
                          js = d.createElement(s); js.id = id;
                          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=243594489074073";
                          fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));</script>
                        <div class="fb-like-box" data-href="http://www.facebook.com/FacebookDevelopers" data-width="300px" data-height="324px" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end Content section -->
    <footer class="bottom-section">
        <div class="container">
            <center>    
                <ul class="inline">
                    <li><a href="http://bagikasih.com/about_us">Tentang Kami</a></li>
                    <li><a href="http://bagikasih.com/contact_us">Kontak Kami</a></li>
                    <li><a href="http://bagikasih.com/faq">F.A.Q</a></li>
                    <li><a href="http://bagikasih.com/links">Links</a></li>
                                        <li><a href="#modal5" data-toggle="modal">Organizer Login</a></li>
                                    </ul>
            with love by <a href="mataharilabs.com">mataharilabs.com</a>
            </center>
        </div>
    </footer>

	<!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap-transition.js"></script>
    <script src="js/bootstrap-alert.js"></script>
    <script src="js/bootstrap-modal.js"></script>
    <script src="js/bootstrap-dropdown.js"></script>
    <script src="js/bootstrap-scrollspy.js"></script>
    <script src="js/bootstrap-tab.js"></script>
    <script src="js/bootstrap-tooltip.js"></script>
    <script src="js/bootstrap-popover.js"></script>
    <script src="js/bootstrap-button.js"></script>
    <script src="js/bootstrap-collapse.js"></script>
    <script src="js/bootstrap-carousel.js"></script>
    <script src="js/bootstrap-typeahead.js"></script>
    <script src="js/bootstrap-affix.js"></script>

    <script src="resources/silviomoreto-bootstrap-select/bootstrap-select.min.js"></script>
    <script src="resources/imsky-holder/holder.js"></script>

    <script>
        $('.selectpicker').selectpicker();
    </script>
</body>

</html>