<!DOCTYPE html>
<html>
<head>
<title>Merdekakan Palestina - CharityBox</title>

<!-- Assets -->
<link rel="stylesheet" href="css/bootstrap.css" type="text/css">
<link rel="stylesheet" href="resources/font-awesome/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="resources/silviomoreto-bootstrap-select/bootstrap-select.css" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet' type='text/css'>
<!-- end of Assets -->
</head>

<body>
	<div class="header-wrap">
		<div class="top-nav">
            <div class="container">
    			<div class="row-fluid">
    				<div class="span8">
    					<img src="img/charityboxlogo.png" width="25" height="25">&nbsp;<strong><a href="index.html">CharityBox</a></strong>
    				</div>
    				<div class="span4">
    					<button class="btn pull-right" onclick="document.location='login.php'">Masuk</button>
    				</div>
    			</div>
            </div>
        </div>
        <div class="container header">
            <center>
                <h3>Selamat Datang di <img src="img/charityboxlogo.png" width="40" height="40">CharityBox.com</h3>
                <p>
                    Web ini dibuat untuk mempermudah donasi kepada yang membutuhkan.
                </p>                
            </center>         
            <div class="big-search">
                <div class="row-fluid">
                    <div class="span12 wrap">
                        Anugerah terbesar adalah ketika ada kemampuan dan kesempatan tuk berbagi kepada sesama
                    </div>
                </div>
            </div>
		</div>
	</div>
    <!-- Content section -->
    <div class="content-wrap">  
        <div class="container content">
            <img src="img/palestina.jpg" style="width:500px;height:300px;margin-left:auto;margin-right:auto;display:block;">
			<p> </p>
			<p> </p>
			<h2 align="center">Merdekakan Palestina</h2>
			<p>		Tanah Palestina sedang dijajah, banyaknya nyawa yang melayang, dan kurangnya kebebasan. Jadilah donatur demi negara Palestina dan negara Islam lain. </p>
			<p> </p>
			<button class="btn btn-success pull-right" onclick="document.location='3add.php'" >Donasikan</button>
                <!-- end the Item -->
            </div>
        </div>
    </div>
    <!-- end Content section -->
    <footer class="bottom-section">
        <div class="container">
        <center>    
            <ul class="inline">
                <li>
                    <a href="#">Menu#1</a>
                </li>
                <li>
                    <a href="#">Menu#2</a>
                </li>
            </ul>
            @2021, Hak Cipta Dilindungi
        </center>
    </footer>

	<!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap-transition.js"></script>
    <script src="js/bootstrap-alert.js"></script>
    <script src="js/bootstrap-modal.js"></script>
    <script src="js/bootstrap-dropdown.js"></script>
    <script src="js/bootstrap-scrollspy.js"></script>
    <script src="js/bootstrap-tab.js"></script>
    <script src="js/bootstrap-tooltip.js"></script>
    <script src="js/bootstrap-popover.js"></script>
    <script src="js/bootstrap-button.js"></script>
    <script src="js/bootstrap-collapse.js"></script>
    <script src="js/bootstrap-carousel.js"></script>
    <script src="js/bootstrap-typeahead.js"></script>
    <script src="js/bootstrap-affix.js"></script>

    <script src="resources/silviomoreto-bootstrap-select/bootstrap-select.min.js"></script>

    <script>
        $('.selectpicker').selectpicker();
    </script>
</body>

</html>